[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/venv/bin/uwsgi -i /srv/random-sellect-backend/mysite/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

static-map = /static=/srv/random-sellect-backend/static/

[Install]
WantedBy=multi-user.target